<!DOCTYPE html>
<html>

<head>
	{% include 'title-and-meta.njk' %}
	<link rel="stylesheet" href="/css/style.css"> 
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
</head>

<body>
	{% include 'header.njk' %}
	<main>
		{{ content | safe }}
	</main>
	{% include 'footer.njk' %}
</body>

</html>