{% extends "layout.njk" %}
{% block content %}
<main class="shopmain">




  <section>
    {% for row in rows %}
      <h1>{{ row.name }}</h1>
      <p>{{ row.price }}</p>
     
    {% endfor %}
  </section>




</main>
{% endblock %}