{% extends "layout.njk" %}
{% block content %}
<main class="">
  <section class="produkt">
    <div>
      
    </div>
    {% set totalPrice = 0 %}
    {% for row in cartItems %}
    <div class="p1">
      <img src="{{ row.link }}">
      <h1>{{ row.productname }}</h1>
      <p>{{ row.price }}</p>
      <form action="/add-to-cart" method="POST">
        <input type="hidden" name="productId" value="{{ row.edzarshop_id }}">
        <button type="submit">Lägg till i varukorgen</button>
      </form>
    </div>
    {% set totalPrice = totalPrice + row.price %}
    {% endfor %}
    <p>Total summa: {{ totalPrice }}</p>
    
  </section>
</main>
{% endblock %}
