{% extends "layout.njk" %}
{% block content %}
<main>
    <nav class="primary-nav">
        <h1>{{ title }}</h1>
        <ul role="list" class="nav-list flex-group">
          <li><a href="/shop">Shop</a></li>
          <li><a href="/new">Contact</a></li>
          <li><a href="#">Profile</a></li>
        </ul>
        <button type="submit" class="hamburger-menu">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </button>
        <ul class="hamburger-menu-items">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </nav>
      


    {% for row in rows %}
    <section>
        {{ row.id }} {{ row.authorId }} {{ row.author }}
        <h1>{{ row.title }}</h1>
        <p>{{ row.content }}</p>
        <p>Created {{ row.createdAt }}</p>
        <p>{{ row.name }}</p>
    </section>
    {% endfor %}

</main>
{% endblock %}