{% extends "layout.njk" %}
{% block content %}
<main>

    <section class="intro">

        <div class="intro1">

            <h1>Välkommen till...</h1>
            <p>Text om din webbplats.</p>
        </div>

        <div class="intro2">


            <div class="intro3">
                <img src="img/samantha-fields-Nk2dWsqaX2k-unsplash.jpg" alt="d">

            </div>
            
            <div class="intro4">

                <div class="intro5">
                    <img src="">
                    <h1>{{ row.productname }}</h1>
                    <p>{{ row.price }}</p>

            </div>
        </div>


       
        





    </section>

</main>
{% endblock %}