{% extends "layout.njk" %}
{% block content %}
<main>

  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item"><a href="/shop">Shop</a></li>
      <li class="nav-item profile">
        <a href="/profile">Profile</a>
        <ul class="profile-dropdown">
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </li>
    </ul>
  </nav>
      


    {% for row in rows %}
    <section>
        {{ row.id }} {{ row.authorId }} {{ row.author }}
        <h1>{{ row.title }}</h1>
        <p>{{ row.content }}</p>
        <p>Created {{ row.createdAt }}</p>
        <p>{{ row.name }}</p>
    </section>
    {% endfor %}

</main>
{% endblock %}