<!DOCTYPE html>
<html lang="sv">

<body>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="css/style.css">


    </head>
    

    {% block navbar %}
    <nav class="navbar">
        <ul class="nav-list">            
            <li class="nav-item"><a href="/">EDZAR</a></li>

            <li class="nav-item"><a href="/shop">Shop</a></li>
            <li class="nav-item"><a href="/new">new</a></li>


            <li class="nav-item profile">
                <a href="/profile">Profile</a>
                <ul class="profile-dropdown">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </li>
        </ul>
    </nav>

  {% endblock %}
    {% block content %}

    {% endblock %}
</body>
<footer>
    <H1>EDZAR</H1>
    
</footer>

</html>