{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">
    <h1>{{ title }}</h1>
    <li class="nav-item"><a href="/">home</a></li>

    <form action="/new" method="post"> 
        <label for="link">bild</label>
        <input type="text" name="link" id="link">
        <label for="title">Titel</label>
        <input type="text" name="title" id="title">
        <label for="price">pris</label>
        <input type="text" name="price" id="price">
       <button type="submit">Skicka</button>

       
    </form>
</main>
{% endblock %}


