{% extends "layout.njk" %}
{% block content %}
<main class="container mt-3">

  <nav>
    <div>EDZAR</div>
    <div>MY ACCOUNT</div>
    <div>MY FAVORIT</div>
    <div>MY ODERS</div>
    <div>MY WALLET</div>

  </nav>

</main>
{% endblock %}