{% extends "layout.njk" %}
{% block content %}
<main>

    {% block navbar %}
{% endblock %}
    <div class="login">
        <a href="/">EDZAR</a>

    <div class="login-box">
        <div class="login-box1">
            <div class="login-box5"> <a href="/register">REGISTER</a>
            </div>
            <div class="login-box2"> <a href="/login">LOGIN</a></div>
        </div>


        <div class="login-box3">
            <form action="/register" method="POST">
                <h5>ANVÄNDARNAMN</h5>
                <input type="text" name="username">
                <h5>LÖSENORD</h5>
                <input type="password" name="password">
                <h5>LÖSENORD</h5>
                <input type="password" name="passwordConfirmation">
                <button type="submit">Register</button>
            </form>
        </div>
    </div>

</main>

</main>
{% endblock %}